.zonaAcordeones{
  margin: 12px;
  text-align: center;

  background-color: rgba( 0, 0, 0, .7);
  border-width: 1px;
  border-color: ghostwhite;
  border-radius: 8px;
  border-style: ridge;

}

.zonaAcordeones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;
  padding: 5px;


}


.zonaAcordeones h3{
  margin-bottom: 15px;
  padding: 5px;

}





/* (A) TABS CONTAINER */
.tab, .tab * {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
.tab { 
  width: 95%;

}

/* (B) HIDE CHECKBOX */
.tab input { display: none; }

/* (C) TAB LABEL */
.tab label {
  /* (C1) DIMENSIONS */
  position: relative; /* required for (f2) position:absolute */
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
 
  /* (C2) COSMETICS */
  font-weight: 700;
  color: #fff;
  cursor: pointer;

  background: rgba(19,0,83,1.0);
  text-align: left;
  margin-top: 8px;
  border-radius: 2px;
}





/* (D) TAB CONTENT - HIDDEN BY DEFAULT */
/* css animation will not work with auto height */
/* this is why we use max-height instead */
.tab .content {
  background: #442356;
  overflow: hidden;
  transition: max-height 0.1s;
  max-height: 0;

  text-align: left;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}
.tab .content p { 
  padding: 10px; 
  color: ghostwhite;

}

/* (E) OPEN TAB ON CHECKED */
.tab input:checked ~ .content { max-height: 100%; }

/* (F) EXTRA - ADD ARROW INDICATOR */
.tab label::after {
  /* (F1) RIGHT ARROW */
  display: block;  
  content: "\25b6";
 
  /* (F2) PLACE AT RIGHT SIDE */
  position: absolute;
  right: 10px; top: 10px;
 
  /* (F3) ANIMATED ARROW */
  transition: all 0.4s;
}
 
/* (F4) ROTATE ARROW ON CHECKED */
.tab input:checked ~ label::after { transform: rotate(90deg); }







